{% extends 'recipes/base.html' %}
{% csrf_token %}
{% block title %}
    {%if profile %}Рецепты автора: {{ profile.get_full_name }}
    {% elif current_page == 'favorite' %}Избранное
    {% else %}Рецепты
    {% endif %}
{% endblock %}

{% load static %}
{% load recipe_filters %}
{% load social_filters %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock stylesheet %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title">
            {%if profile %}Рецепты автора: {{ profile.get_full_name }}
            {% elif current_page == 'favorites' %} Избранное
            {% else %}Рецепты
            {% endif %}
        </h1>
        {% include 'recipes/includes/filters.html' with filters=filters %}
    </div>

        {% if author and author != user and user.is_authenticated %}
        <div class="author-subscribe" data-author="{{ author.id }}">
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" {% if is_subscribed %}>Отписаться от автора{% else %}data-out>Подписаться на автора{% endif %}</button></p>
        </div>
        {% endif %}

    <div class="card-list">
    {% for recipe in page %}
        <div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipe_view' recipe.author.username recipe.id %}" class="link"><img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="card__image"></a>
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                    {% endfor %}
                </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин. </p>
                        <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
                    </div>
            </div>

            <div class="card__footer">
            {% if recipe.id|recipe_in_cart:user.id %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}

                {% if user.is_authenticated %}
                        {% if recipe.id|is_favorite:user.id %}
                            <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                        {% else %}
                            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                        {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% include 'recipes/includes/paginator.html' with items=page paginator=paginator filters=filters %}
        </ul>
    {% endif %}

{% endblock %}

{% block scripts %}
    {% if current_page == 'favorite' %}
        {% include 'recipes/includes/scripts.html' with page='favorite' %}
    {% elif author %}
        {% include 'recipes/includes/scripts.html' with page='authorRecipe' %}
    {% elif user.is_authenticated %}
        {% include 'recipes/includes/scripts.html' with page='indexAuth' %}
    {% else %}
        {% include 'recipes/includes/scripts.html' with page='indexNotAuth' %}
  {% endif %}
{% endblock %}
