body {
    font-family:Montserrat, sans-serif;
    color:#222;
    line-height:1.5;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
    margin:20px 0;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#e7f3fc;
}

thead th, tbody tr.total {
    background: #70b5ee;
    color: #FFFFFF;
    font-weight:bold;
}

h1 {
    margin:0;
}


.secondary {
    color:#bbb;
    margin-bottom:20px;
}