{% load recipe_filters %}
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
        {% if user.is_authenticated %}
            <ul class="nav__items list">
                {% url 'index' as url %}
                <li class="nav__item {% if request.path == url %} nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                {% url 'my_subscriptions' user.username as url %}
                <li class="nav__item {% if request.path == url %} nav__item_active{% endif %}"><a href="{% url 'my_subscriptions' user.username %}" class="nav__link link">Мои подписки</a></li>
                {% url 'new_recipe' as url %}
                <li class="nav__item {% if request.path == url %} nav__item_active{% endif %}"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                {% url 'favorite' user.username as url %}
                <li class="nav__item {% if request.path == url %} nav__item_active{% endif %}"><a href="{% url 'favorite' user.username %}" class="nav__link link">Избранное</a></li>
                {% url 'purchases' as url %}
                <li class="nav__item {% if request.path == url %} nav__item_active{% endif %}"><a href="{% url 'purchases' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ user.id|purchase_list|length }}</span></li>
        {% else %}
                {% url 'index' as url %}
                <li class="nav__item {% if request.path == url %}nav__item_active {% else %}nav__item_disabled{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
        {% endif %}
            </ul>

            <ul class="nav__items list">

            {% if user.is_authenticated %}
                <li class="nav__item"><a href="{% url 'password_change' %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></a></li>
                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
            {% else %}
                <li class="nav__item "><a href="{% url 'login' %}"><a href="{% url 'login' %}" class="nav__link link">Войти</a></a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
            {% endif %}

        </div>
    </nav>
</header>