<header class="header">
    <nav class="nav">
        <div class="nav__container container">
        {% if user.is_authenticated %}
            <ul class="nav__items list">
                <li class="nav__item {% if index %}nav__item_active{% endif %}"><a href="{% url 'recipe_list' %}" class="nav__link link">Рецепты</a></li>
                <li class="nav__item {% if follow %}nav__item_active{% endif %}"><a href="#" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item {% if new_recipe %}nav__item_active{% endif %}"><a href="#" class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item {% if favorite %}nav__item_active{% endif %}"><a href="#" class="nav__link link">Избранное</a></li>
                <li class="nav__item {% if cart_list %}nav__item_active{% endif %}"><a href="#" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">#</span></li>
        {% else %}
                <li class="nav__item {% if current_page == 'index' %}nav__item_active {% else %}nav__item_disabled{% endif %}"><a href="{% url 'recipe_list' %}" class="nav__link link">Рецепты</a></li>
{#                <li class="nav__item {% if current_page == 'shoppinglist' %}nav__item_active {% else %}nav__item_disabled{% endif %}"><a href="{% url 'shoppinglist_detail'%}" class="nav__link link">Список покупок</a><span class="badge badge_style_blue nav__badge" id="counter">{{ shoplist|length }}</span></li>#}
        {% endif %}
            </ul>

            <ul class="nav__items list">
            {% if user.is_authenticated %}
                <li class="nav__item {% if password_change %}nav__item_active{% endif %}"><a href="{% url 'recipe_list' %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></a></li>
                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
        {% else %}
                <li class="nav__item {% if login %}nav__item_active{% endif %}"><a href="{% url 'recipe_list' %}"><a href="{% url 'login' %}" class="nav__link link">Войти</a></a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
        {% endif %}

        </div>
    </nav>
</header>