{% load static %}

{% if page == 'singlePage' %}
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/components/Favorites.js' %}"></script>
  <script src="{% static '/js/components/Subscribe.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/SingleCard.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'singlePage.js' %}"></script>
{% endif %}

{% if page == 'singlePageNotAuth' %}
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/SingleCard.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endif %}

{% if page == 'myFollow' %}
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/MyFollow.js' %}"></script>
  <script src="{% static '/js/components/Subscribe.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'myFollow.js' %}"></script>
{% endif %}

{% if page == 'indexNotAuth' %}
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/CardList.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}

{% if page == 'indexAuth' %}
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/components/Favorites.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/CardList.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'indexAuth.js' %}"></script>
{% endif %}

{% if page == 'formRecipe' %}
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/utils/debouncing.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'formRecipe.js' %}"></script>
{% endif %}

{% if page == 'favorite' %}
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/components/Favorites.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/CardList.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'favorite.js' %}"></script>
{% endif %}

{% if page == 'authorRecipe' %}
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/components/Favorites.js' %}"></script>
  <script src="{% static '/js/components/Subscribe.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
{% endif %}

{% if page == 'shopList' %}
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/components/ShopList.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'shopList.js' %}"></script>
{% endif %}